:root {
  /* Colors */
  --gold: #B39B66;
  --black: #1E2024;
  --white: #E8E8E8;
  --nav-background: #3F4755;

  /* Font Families */
  --font-titles-buttons: "Barlow Condensed", sans-serif;
  --font-paragraph: "Roboto", sans-serif;

  /* Font Sizes */
  --font-size-paragraph: 1rem;
  --font-size-h1: 32px;
  --font-size-h2: 24px;

  /* Legacy Variables */
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-paragraph);
  font-size: var(--font-size-paragraph);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.goldButton {
  background-color: var(--gold);
  color: var(--black);
  border: none;
  padding: 10px 20px;
  font-family: var(--font-titles-buttons);
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
